<section class= "centered login-banner">
<h2 class="login-text"> Please Login </h2>
<br>
<%= form_tag new_session_path do %>
    <h5><%= label_tag "Username" %>
    <%= text_field_tag :username %>
    <%= label_tag "Password" %>
    <%= password_field_tag :password %></h5>
    <%= submit_tag "Sign In"%>
  <% end %>
</section>
<br>