# <h1> Create Your Garden </h1>

# <%= form_for @garden_plant do |f| %>
#     <%= f.label "Cacti" %>
#     <%= f.collection_select :plant_id, Plant.all, :id, :name, :multiple => true %>

#     <%= f.label "Flowers" %>
#     <%= f.collection_select :plant_id, Plant.all, :id, :name, :multiple => true %>

#     <%= f.label "Foliage" %>
#     <%= f.collection_select :plant_id, Plant.all, :id, :name, :multiple => true %>

#     <%= f.label "Herbs" %>
#     <%= f.collection_select :plant_id, Plant.all, :id, :name, :multiple => true %>
  
# <%= f.submit %>
# <% end %>

# <% if @garden_plant.errors.any? %>
#   <h4>Errors</h4>
#   <% @garden_plant.errors.full_messages.each do |message| %>
#     <li><%= message %></li>
#   <% end %>
# <% end %>


