<section class="centered edit-garden"> 
<h2 class="login-text"> Edit Your Garden </h2>
<div class="centered">
<%= form_for @garden do |f| %>
  
    <h5><%= f.label "Rename Your Garden" %>
    <%= f.text_field :garden_name %>
    
    <%= f.label "Plant" %>
    <%= f.collection_select :plant_ids, Plant.all, :id, :name %></h5>
  <br>
<%= f.submit%>
<% end %>
</div>

<% if @garden.errors.any? %>
  <h4>Errors</h4>
  <% @garden.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
<br>

<div>
<button class="crud-button">Add Plant</button>
<button class="crud-button"> Delete Plant </button>
</div>
</section>
<br>