<h2 class="centered"> Edit Your Garden </h2>

<br>
<div class="centered">
<%= form_for @garden do |f| %>
  
    <%= f.label "Rename Your Garden" %>
    <%= f.text_field :garden_name %>
    
    <%= f.label "Plant" %>
    <%= f.collection_select :plant_ids, Plant.all, :id, :name %>
  
<%= f.submit %>
<% end %>
</div>

<% if @garden.errors.any? %>
  <h4>Errors</h4>
  <% @garden.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
<br>

<button> Add Plant</button>
<br>
<button> Delete Plant </button>
<br>