# <h1> Create Your Garden </h1>

# <%= form_for @garden do |f| %>
  
#     <%= f.label "Cacti" %>
#     <%= f.collection_select :plant_ids, Plant.all, :id, :name, :multiple => true %>

#     <%= f.label "Flowers" %>
#     <%= f.collection_select :plant_ids, Plant.all, :id, :name, :multiple => true %>

#     <%= f.label "Foliage" %>
#     <%= f.collection_select :plant_ids, Plant.all, :id, :name, :multiple => true %>

#     <%= f.label "Herbs" %>
#     <%= f.collection_select :plant_ids, Plant.all, :id, :name, :multiple => true %>
  
# <%= f.submit %>
# <% end %>

# <% if @garden.errors.any? %>
#   <h4>Errors</h4>
#   <% @garden.errors.full_messages.each do |message| %>
#     <li><%= message %></li>
#   <% end %>
# <% end %>