<h2 class="centered">Welcome To The <%=@room.room_name%></h2>
<br>
<section>
<ul class="centered special_ul">
    <% @room.plants.each do |plant| %>
    <li class="show-image">
    <%= image_tag plant.image %></div>
    </li>
    <li>
    <h3 class="names"><%= plant.name %></h3>
    </li>
    <li>
    <h4>Description:</h4><p><%= plant.description %></p>
    </li>
    <li>
    <h4>Care Instructions:</h4><p><%= plant.care_instructions %></p>
    </li>
    <li>
    <h4>Difficulty Level:</h4><p><%= plant.difficulty_level %></p>
    </li>
    <li>
    <h4>Light Level:</h4><p><%= plant.light_level %></p>
    </li>
    <li>
    <h4>Color:</h4><p><%= plant.color %></p>
    </li>
    <li>
    <h4>Size:</h4><p><%= plant.size %></p>
    </li>
    <% end %>
</ul>
</section>