<!DOCTYPE html>
<html>
  <head>
    <title>VirtualBotanicGarden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@100;400&family=Martel:wght@200&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
    </head>

  <body>

  <header class="grid header">
  <div class="col-4-middle">
  <h2 class= "logo"><%=link_to "VIRTUAL BOTANIC GARDEN", root_path %></h2>
  </div>
  <nav class="col-8-middle right">
    <a href="/#quiz"> QUIZ </a>
    <a href="/#about"> ABOUT </a>
    <a href="/#rooms"> PLANT ROOMS </a>
    <%=link_to "CREATE MY GARDEN", new_garden_path %>
    
    <% if @user %>
    <%= link_to "LOGOUT", sessions_path, method: :delete %>
    <% else %>
    <%= link_to "LOGIN", login_path %>
    <% end %>
  </nav>      
  </header>

    <%= yield %>

  <footer class="grid">
  <!-- column -->
  <div class="col-5_sm-12 padded">
    <h2 class="logo"> Virtutal Botanic Garden </h2>
    <p> A virtual gardening experience ©2020 </p>
  </div>
  <div class="col-1 sm-hidden"></div>
  <!-- column -->
  <div class="col-6_sm-12-middle padded right">
    <nav class="inline">
      <a href="#"> Quiz </a>|
      <a href="#"> Plants </a>|
      <a href="#"> About </a>
    </nav>
  </div>
</footer>
  </body>
</html>

